

.logo {
  height: 50px;
  width: 50px;
  z-index: 4;
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: block;
  color: red;
  left: 0;
  position: absolute;
  padding: -2px 2px;

  }


  canvas {
    display:flex;
    width: 30%;
    height: 50%;

  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


td.imgCell {
   /* a value greater than image height + paddings */
    height: 50%;
    text-align: center;
}

img.rollover {
    display: inline-block;
    position: relative;
    padding: 4px;
    width: 60%;
    height: 30%;
    background-color:#E8E8E8;
    border: 0px none;
}

img.rollover:hover {
    position: relative;
    width: 80%;
    height: 50%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 99;
}

ul {
    font-family: 'Muli', cursive;
    font-weight: lighter;
    margin: 0;
    padding: 0.3rem;
    background-color: #white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;

}

ul li {
    float: right;
    padding: 2px;
    margin: 2px;
    padding-right: 15px;

}

ul li a {
  text-decoration: none;
}

.aboutMe {
  width: 80%;
  margin-top: 45%;
  margin-left: 15%;
  font-family: 'Muli';
}

.banner {
  height: 50%;
  width: 100%;
  font-family: 'Muli';
}

.wrap {
margin-top: -49%;
margin-left: 9%;
width: 45%;
}

  .row {
    margin-top: 12%;
    margin-left: 15%;
  font-family: 'Muli';
    margin-right: 5%;
  }

.column {
align-items: center;
  font-family: 'Muli';
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.stressy {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 60%;
}

.footer {
  margin-left: 15%;
  margin-bottom: 5%;
  color: grey;
  margin-top: 10%;
  font-family: "Muli"

}

.batt {
  width: 10%;
}

@media only screen and (min-width: 320px) and (max-width: 410px) {



  .banner {
    height: 20%;
    width: 100%;
  }

  .wrap {
  margin-top: -50%;
  margin-left: 8%;
  width: 40%;
  font-size: 7px;
  }

  ul li a {
    text-decoration: none;
}

ul {
    font-family: 'Muli', cursive;
    font-weight: lighter;
    margin: 0;
    padding: 0.3rem;
    background-color: #white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    /* background-color: #59686F; */

}

.logo {
  height: 50px;
  width: 50px;
  z-index: 4;
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: block;
  color: red;
  left: 0;
  position: absolute;
  padding: -2px 2px;
  margin: -10px;
  }

  .aboutMe {
    width: 80%;
    margin-top: 25%;
    margin-left: 10%;
    font-family: 'Muli';
  }

  /* .first {
    display: none;
  } */

  .wrap {
    margin: 0 auto;
    width: 80%;
    align-self: center;
  }

.imgCell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

img.rollover {
    width: 100%;
    height: 100%;
    border: 0px none;
    display: inline-block;
    position: relative;
}

.batt {
  display: none;
}

.footer {
  display: block;
  color: grey;
  margin-top: 10%;
  font-family: "Muli"

}

canvas {
  display:flex;
  width: 30%;
  height: 50%;

}

.column{
margin-left: -20px;
margin-right: 15px;
}
