/* @media only screen and (min-width: 768px) { */

.logo {
  height: 50px;
  width: 50px;
  z-index: 4;
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: block;
  left: 0;
  padding: -2px 2px;
  }

  .navBar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
  }

  .navBar a {
  float: right;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  padding-right: 18px;
  color: #fff;
  font-family: 'Muli';
}

div.first {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  margin-left: 5%;
  width: 36%;
  margin-top: 34%;
}


  canvas {
    display:flex;
    width: 50%;
    height: 70%;
    margin-left: 40%;

  }


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


td.imgCell {
   /* a value greater than image height + paddings */
    height: 50%;
    text-align: center;
}

img.rollover {
    display: inline-block;
    position: relative;
    padding: 4px;
    width: 60%;
    height: 30%;
    background-color:#E8E8E8;
    border: 0px none;
}

img.rollover:hover {
    position: relative;
    width: 80%;
    height: 50%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 99;
}

/* ul {
    font-family: 'Muli', cursive;
    font-weight: lighter;
    margin: 0;
    padding: 0.3rem;
    background-color: #white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;

}

ul li {
    float: right;
    padding: 2px;
    margin: 2px;
    padding-right: 15px;

}

ul li a {
  text-decoration: none;
} */
.aboutTitle {
  font-size: 50px;
  margin-top: 18%;
  margin-left: 3%;
}

.projectsTitle{
  font-size: 50px;
  margin-top: 3%;
  margin-left: 3%;
}

.sideTitle{
  font-size: 50px;
  margin-top: 3%;
  margin-left: 3%;
}

.aboutMe {
  width: 40%;
  margin-top: 8%;
  margin-left: 15%;
  font-family: 'Muli';
display: flex;
 flex-direction: column;
}

.me {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 41%;
  margin-top: -11%;
  }


.banner {
  height: 50%;
  width: 100%;
  font-family: 'Muli';
  color: white;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 4%;
    margin-left: 5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;

}

.wrap {
margin-top: -49%;
margin-left: 9%;
width: 100%;
font-size: 90px;
}

  /* .row {
    margin-top: 12%;
    margin-left: 15%;
  font-family: 'Muli';
    margin-right: 5%;
  }

.column {
align-items: center;
  font-family: 'Muli';
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
} */

.stressy {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 60%;
}

.footer {
  margin-left: 15%;
  margin-bottom: 5%;
  color: grey;
  margin-top: 10%;
  font-family: "Muli"

}

.batt {
  width: 10%;
}


.navigation {
  display:none;
}
@media only screen and (min-width: 320px) and (max-width: 410px) {


.navigation {
  display: inline;
}

.navBar {
  display: none;
}
    /* make it look decent enough */
    /* background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
  } */

  a
  {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  a:hover
  {
    color: tomato;
  }

  #menuToggle
  {
    display: block;
    position: relative;
    top: 25px;
    left: 25px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }


  .banner {
    margin-top: -10%;
    width: 100%;
    font-family: 'Muli';
    color: red;
    padding: 0;
  }

div.first {
  display: none;
}

.aboutTitle {
  font-size: 20px;
  margin-top: 54%;
  margin-left: 3%;
}

.projectsTitle{
  font-size: 20px;
  margin-top: 15%;
  margin-left: 3%;
  padding-bottom: 15%;
}

/* .sideTitle{
  font-size: 50px;
  margin-top: 3%;
  margin-left: 3%;
} */

.aboutMe {
  width: 60%;
  margin-top: 20%;
  margin-left: 15%;
  font-family: 'Muli';
display: flex;
 flex-direction: column;
}

.me {
  width: 35%;
  height: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 41%;
  margin-top: -60%;
  display: none;
  }

  .card {
      margin: 0 auto;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 4%;

  }

.batt {
  display: none;
}

.footer {
  display: block;
  color: grey;
  margin-top: 10%;
  font-family: "Muli"
}

}
